-- 010_add_proposal_tracking.sql
-- Isolated schema for proposal/tender monitoring.
-- Deliberately has NO foreign keys into sources/articles/stories and no
-- shared table names, so it can never collide with newslens-ke's existing
-- news-coverage schema.

create table public.proposal_sources (
  id           uuid        primary key default gen_random_uuid(),
  name         text        not null,
  url          text        not null unique,
  source_type  text        not null default 'ministry', -- 'mygov' | 'ministry' | 'donor'
  active       boolean     not null default true,
  created_at   timestamptz not null default now()
);

create table public.proposals (
  id                  text        primary key, -- sha256[:16] of link|title, from proposal_id()
  proposal_source_id  uuid        not null references public.proposal_sources (id) on delete cascade,
  title               text        not null,
  category            text,
  link                text        not null,
  due_date            date,
  matched_keywords    text[],
  status              text        not null default 'new', -- 'new' | 'alerted' | 'expired' | 'irrelevant'
  first_seen_at       timestamptz not null default now(),
  alerted_at          timestamptz
);

create index proposals_status_idx on public.proposals (status);
create index proposals_due_date_idx on public.proposals (due_date);
create index proposals_source_id_idx on public.proposals (proposal_source_id);

create table public.proposal_alerts (
  id           uuid        primary key default gen_random_uuid(),
  proposal_id  text        not null references public.proposals (id) on delete cascade,
  sent_at      timestamptz not null default now(),
  channel      text        not null default 'mygov'
);

comment on table public.proposal_sources is 'Government/donor portals monitored for proposals — separate from news sources table';
comment on table public.proposals is 'Scraped, keyword-matched proposals/tenders. status/alerted_at are owned by the alert job, never overwritten by re-scrapes';
comment on table public.proposal_alerts is 'Log of every alert actually sent, for auditability beyond the single alerted_at timestamp on proposals';